.home-main{
    background-image: url('../image/cup-1834296_960_720.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100vh;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.about>p{
    color: #fff
}


.mypic{
    width: 200%;
    /* margin-top: -10rem; */
    /* height: 200%; */
}


.about>p{
    text-align: left;
}


.pic-my{
    width: 80%;
}

.my-info-container{
    display: flex;
    align-items: center;
    padding-left: 8rem
}